<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">CHAT APP</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right mr-auto" id="reload">
         <li><a href="/latest-football-news" class="nav-link">News</a></li>
          <li><a href="/members"class="nav-link">Members</a></li>
        <!-- Friend Request -->
          <li class="nav-item dropdown">
            <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon fa fa-bell nav-glyphicon"></span><b class="caret"></b>
                     <% if(data.totalRequest > 0) {%>
                         <span class="label label-primary nav-label-icon"><%= data.request.length %></span>
                     <% } else { %>
                         <span class="label label-primary nav-label-icon" style="display:none"></span>
                     <% } %>
                      
            </a>

            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-login" id="requestBar">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="dropdown-tag">
                                    <h3 class="dropdown-tag-head" >
                                        Friend Requests
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                           <% if(data.request.length > 0) {%>
                           <% _.forEach(data.request, function(val) { %>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-center">
                                        <img src="<%= val.userId.userImage %>" class="img-circle img-responsive dropdown-img" />
                                    </p>
                                </div>
                                <div class="col-md-9 pleft-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <p class="text-left">
                                                    <strong id=""><%= val.username %></strong>
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                                                        <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                                        <button type="submit" name="accept" id="accept_friend" class="btn btn-default drop-accept accept"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId._id %>">
                                                        <button type="submit" name="cancel" class="btn drop-cancel remove" id="cancel_friend">
                                                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <% }) %>
                            <% } else { %>
                                <p class="text-center">No Friend Request</p>
                            <% } %>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <!-- End Friend Request -->
          
        <li class="nav-item dropdown" >
            <%- include ('../partials/message.ejs'); -%>
         
        </li>
          <li class="nav-item dropdown">
            <a class=" nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.username %> <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/settings/profile"><i class="fa fa-user"></i> Profile</a>
              <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
            </li>
          </%=>
        </ul>
     
    </div>
  </nav>