<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">CHAT APP</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right mr-auto" id="reload">
       <li><a href="/latest-football-news" class="nav-link">News</a></li>
        <li><a href="/members"class="nav-link">Members</a></li>
        
        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.username %> <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/settings/profile"><i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
          </li>
        </%=>
      </ul>
   
  </div>
</nav>
  
<div class="col-md-12">
   <form action="/members" method="post">
        <input class="form-control mr-sm-2"  name="username" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       
   </form>
</div>
  
<div class="col-md-12">
   <input type="hidden" id="name-user" value="<%= user.username %>">
   <input type="hidden" id="name-image" value="<%= user.userImage %>">
    <div class="">
        <div class="row">
            
            <div class="col-md-12">
                <div>
                   <% _.forEach(chunks, function(val) { %>
                    <div class="category-list">
                        <div class="row">
                           <% _.forEach(val, function(val2) { %>
                            <form action="/home" method="post" id="favorite">
                                <div class="item col-md-3">
                                   <a style="text-decoration:none" href="#">
                                    <div class="thumbnail thumb_nail">
                                       <img src="<%= val2.userImage %>" class="userImage">
                                        <div class="caption">
                                            <div class="row">    
                                                <div class="col-xs-12 col-md-12">
                                                    <h4 style="color:#4aa1f3;"><%= val2.username %></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </form>
                            <% }); %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

  
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/group/sendrequest.js"></script> 
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
</body>
</html>